# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/
.env/
.venv/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Coverage reports
.coverage
coverage.xml
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/
nosetests.xml
pytest_cache/
